section {
	@extend %text--center;

	span.subtitle {
		@extend %font2;
		margin-bottom: 50px;
	}

	&#about {
		@extend %mt--100;

		.about {
			&__chef {
				@extend %flex--justify-around;

				&__message {
					@extend %flex--2;

					&__paragraph {
						@extend %font1;
						@extend %text--italic;
						margin: 50px 0;
						font-size: 18px;
						font-weight: 200;
					}

					&__signature {
						@extend %font4;
						font-size: 50px;
						transform: rotate(345deg);
						margin-bottom: 100px;
					}
				}

				&__photo {
					@extend %flex--2;

					@include small-only {
						display: none;
					}
				}
			}

			&__food {
				@extend %flex--justify-between;
				
				@include small-only {
					flex-wrap: wrap;
				}

				&__column {
					@extend %flex--3;

					@include small-only {
						flex: 100%;
					}

					&__text {
						@extend %flex--align-center;
						@extend %flex--3;
						background-image: url("../img/home3/center-intro.jpg");

						@include small-only {
							flex: 100%;
						}

						.container {
							margin-top: 20px;
							margin-bottom: 20px;
						}

						&__intro__paragraph {
							@include medium-only {
								line-height: 150%;
							}
						}
					}
				}
			}
		}
	}

	&#team {
		@extend %mt--100;

		.team__carousel {
			@extend %flex--justify-around;
			// width: 200%;
			// transition: 3s;
			
			.row {
				// background-color: #cecece;
				// width: calc(100% / 2 - 10px);
				// margin: 0 20px;

				.card {
					.card__description.card__description-overlay {
						justify-content: space-evenly;

						& > a i.fa {
							font-size: 30px;
						}
					}

					&:nth-child(2) {
						@include small-only {
							display: none;
						}
					}

					&:nth-child(3) {
						@include medium-only {
							display: none;
						}

						@include small-only {
							display: none;
						}
					}
				}
			}
		}
	}

	&#service {
		@extend %mt--100;

		.service {
			&__food{
				@include cover_background("../img/background/bg_4.jpg");
				padding: 7% 0;

				&__types {
					& > .row .card {
						flex: 14.648%;

						@include medium-only {
							flex: 38.38%;
						}

						@include small-only {
							flex: 100%;
						}
					}
				}
			}

			&__offers {
				@extend %mt--100;
			}

			&__app {
				@extend %mt--100;
				@include cover_background("../img/background/bg_11.jpg");
				text-align: left;
				height: 570px;

				&__container {
					@extend %flex;

					@include small-only {
						text-align: center;
						height: 100%;
					}

					&__image{
						@extend %flex--2;
						margin-top: 60px;

						@include small-only {
							display: none;
						}

						img {
							@include medium-only {
								width: 100%;
							}
						}
					}

					&__description {
						@extend %flex--align-center;
						@extend %flex--2;

						.content {
							h2 {
								font-size: 35px;

								@include medium-only {
									line-height: 40px;
								}
							}

							p {
								@extend %font3;
								@extend %text--italic;
							}
						}
					}
				}
			} 
		}
	}

	&#menu {
		@extend %mt--100;

		.menu {
			&__column {
				margin: 0 30%;

				@include small-only {
					margin: 0 5%;
				}
			}
			
			&__starter {
				@extend %mt--100;

				&__header{
					background-image: url("../img/menu/bg1.jpg");
					@extend %mb--50;

					&__title {
						padding: 4%;
						color: white;
					}		
				}
			}

			&__dishes {
				@extend %mt--100;

				&__header{
					background-image: url("../img/menu/bg2.jpg");
					@extend %mb--50;

					&__title {
						padding: 4%;
						color: white;
					}		
				}
			}

			&__desert {
				@extend %mt--100;

				&__header{
					background-image: url("../img/menu/bg3.jpg");
					@extend %mb--50;

					&__title {
						padding: 4%;
						color: white;
					}
				}
			}
		}
	}

	&#reservation {
		@extend %mt--100;
		@include cover_background("../img/background/bg_8.jpg");
		padding: 7%;
	}

	&#news {
		@extend %mt--100;

		.card {
			&__title {
				margin: 0;
			}

			&__description {
				height: 120px;

				&__content {
					padding-left: 20px;
					padding-right: 20px;
				}
			}

			&:hover {
				.card__description {
					height: 100%;
				}

				i.fa {
					display: block;
					font-size: 40px;
					margin-bottom: 15px;
				}
			}
		}
	}
}